<div style="text-align:center">
  <h1>
    PokeTaipu
  </h1>
</div>

<div>
  <h2>
    Come on check out your Pokemon type!
  </h2>
</div>
  <h3>
    Choose your picture
  </h3>

<input type="file" (change)="uploadFile($event.target.files)">
<div>
  <input type="text" (keyup.enter)="focusoutHandler($event.target.value)"/>
</div>
<div>
  Your poketaipu is : {{poketype}}
</div>

<div>
  <img src="assets/pokemons.jpeg"  width="475" height="228">
</div>

<div>
  <img src="assets/types.png"  width="304" height="228">
</div>
